<input type="button" value="logout" class="btn btn-secondary logoutBtn" onclick="logoutUser()">

<div>
    <a href="#"><i class="bi bi-basket non-empty"  onclick="showMenu()" ></i></a>
</div>
<div class="cart" id="cart">
    <div class="cartname">
           CART
    </div>
    <div class="cart-wrapper">
       <div class="cart-item">
            <img src="https://rukminim1.flixcart.com/image/800/960/kzegk280/t-shirt/l/4/k/l-2-triptee-original-imagbf7kgf3f5gum.jpeg?q=50"> 
           <div class="details">
                <h3>Item Name</h3>
                <p>Lorem ipsum dolor sit amet,.
                <span class="quantity">Quantity: 1</span>
                <span class="cartprice">Price: $23.44</span>
                </p>
           </div>
            <div class="cancel"><i class="bi bi-x-circle-fill"></i></div>
       </div> 
    </div>
     <div class="cartcheckout">
        <div class="subtotal">Subtotal: $0.00</div>
        <div class="checkout">Checkout</div>
        <div class="view-cart">View Cart</div>
     </div>
</div>
<div id="productDetailsBlock">
     
</div>
<div><h6 class="categhead">Recommended Products</h6> </div>